In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#Define the Dataframe 
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

# Question 1

Some values in the the FlightNumber column are missing. These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put inplace. Fill in these missing numbers and make the column an integer column (instead of a float column).

In [4]:
for i in range(1, df['FlightNumber'].count() + 1):
      if pd.isnull(df.loc[i,'FlightNumber']):
            df.loc[i, 'FlightNumber'] = df.loc[i-1, 'FlightNumber'] + 10
print(df['FlightNumber'].astype(int))

0    10045
1    10055
2    10065
3    10075
4    10085
Name: FlightNumber, dtype: int32

# Question 2

The From_To column would be better as two separate columns! Split each string on the underscore delimiter _ to give a new temporary DataFrame with the correct values. Assign the correct column names to this temporary DataFrame.

In [5]:
# temp data frame with split value columns 
temp = df["From_To"].str.split("_", n = 1, expand = True) 
  
# making separate Source column from temp data frame 
df["Source"]= temp[0] 
  
# making separate Destination column from temp data frame 
df["Destination"]= temp[1]

# Question 3

Notice how the capitalisation of the city names is all mixed up in this temporary DataFrame. Standardise the strings so that only the first letter is uppercase (e.g. "londON" should become "London".)

In [11]:
def convert(n):
    return n.title()

df['Source']=pd.DataFrame(map(convert,df['Source']))
df['Destination']=pd.DataFrame(map(convert,df['Destination']))
print("\nSource in Uppercase\n")
print(df['Source'])
print('-'*45)
print("\nDestination in Uppercase\n")
print(df['Destination'])

Source in Uppercase

0      London
1      Madrid
2      London
3    Budapest
4    Brussels
Name: Source, dtype: object
---------------------------------------------

Destination in Uppercase

0        Paris
1        Milan
2    Stockholm
3        Paris
4       London
Name: Destination, dtype: object

# Question 4

Delete the From_To column from df and attach the temporary DataFrame from the previous questions.

In [7]:
df.drop(columns =["From_To"], inplace = True)
df.head()

   FlightNumber  RecentDelays              Airline    Source Destination
0       10045.0      [23, 47]               KLM(!)    London       paris
1       10055.0            []    <Air France> (12)    Madrid       miLAN
2       10065.0  [24, 43, 87]  (British Airways. )    London   StockhOlm
3       10075.0          [13]       12. Air France  Budapest       PaRis
4       10085.0      [67, 32]          "Swiss Air"  Brussels      londOn

# Question 5

In the RecentDelays column, the values have been entered into the DataFrame as a list. We would like each first value in its own column, each second value in its own column, and so on. If there isn't an Nth value, the value should be NaN. Expand the Series of lists into a DataFrame named delays, rename the columns delay_1, delay_2, etc. and replace the unwanted RecentDelays column in df with delays.